*.ipch
*.idb
*.db
*.obj
*.pdb
*.pch
*.ilk
*.exe
*.tlog
*.config
*.suo
*.db-shm
*.db-wal
*.dll
*.filters
*.lib
*.log
*.opendb
*.exp
*.iobj
*.ipdb
*.db-shm
*.db-wal
*.tlog
*.obj
/src/rplidar_ros/.vs/rplidar_ros/v15/*.db-wal
/src/rplidar_ros/.vs/rplidar_ros/v15/*.db
